---
import Layout from '@layouts/Layout.astro';
import Section from '@components/Section.astro';
import Main from '@components/Main.astro';
import Media from '@components/Media.astro';
import Callout from '@components/Callout.astro';
import Author from '@components/Author.astro';
---

<Layout title="Mise en mode" description="Placement in mode, the practical application of form following function.">
	<Main>
		<Section split>
			<Author/>
			<p>The following is a recap of a year long research and development journey revealing a method to take semantic responsibility away from design tokens. I will attempt to demonstrate how we might execute design decisions not through complex token naming exercises, but by burdening rectangles with glorious purpose.</p>
		</Section>

		<Section slide>
			<Callout cite caption="Jina Anne">
				design systems are for people
			</Callout>
		</Section>

		<Section>
			<p>A year ago, at the time of this writing, my wife and I were invited to attend Schema 2022, Figma's design systems conference in New York. There were a collection of several great talks throughout the day. <a href="https://youtu.be/On3w6zPQPHU?si=882hkcmS2zsuR2Yp">One of these talks was by Lauren LoPrete</a>, who walks the audience down her path of growing influence with her teams. Her talk echoes a common statement within our practice; “design systems are for people” which I wholeheartedly agree with. All of the tokens and components we spend time with everyday will mean nothing without adoption. So building trustworthy relationships is key to success in our practice.</p>

			<p>The final slide of Lauren's talk ends with the following sentence: “They're just rectangles on the internet.”</p>

			<Media src="/media/schema.png" alt="">
				“Expanding your Design System's sphere of influence and other lessons” - Lauren LoPrete, schema by Figma 2022
			</Media>

			<p>There's a collective chuckle from the crowd, myself included. It's common for folks to joke about the work we do.</p>

			<p>However, in retrospect, I wouldn't have been in that room without rectangles. My career, which puts a roof over my head and food on the table, would have been completely different without rectangles. I wouldn't have met my wife without them. The work that we do with rectangles is truly changing humanity every day. In reality, rectangles make the world go round, socio-economically speaking. I didn't know it then but I was about to discover that these rectangles could also be a looking glass to a whole new design paradigm.</p>

		</Section>

		<Section slide>
			<Media src="/media/tweet-hand.mp4" alt=""/>
		</Section>

		<Section slide>
			<Callout><span style="font-size: 3em">🤔</span></Callout>
		</Section>
		
		<Section slide>
			<Media src="/media/screenshot.png" alt=""/>	
		</Section>

		<Section slide>
			<Media src="/media/token-naming.png" alt="">
				A small selection of token naming articles
			</Media>	
		</Section>

		<Section>
			<p>There's no shortage of articles on token naming, <a href="https://blog.damato.design/posts/tokens-as-intents/">even I have one</a>. If you don't have an opinion about naming tokens, are you even interested in design systems? While I won't go into opinions about the best naming scheme here, I was frustrated with one particular recommendation that I kept seeing across the community. So much so, that I did what all of us do when we are upset at the internet; <a href="https://blog.damato.design/posts/ondark-virus/">I wrote a blog post</a>.</p>

			<Media src="/media/pricing.png" alt=""/>

			<p>In this example, we have a section of a pricing page. Each card has some text, a button, and maybe some links. The task would be, how do we support these slight variations using design tokens?</p>

		</Section>

		<Section split>
			<p> What many folks might do is create tokens that describe the concept of inverse, highlight, or accent to support the difference between each of the cards and the rest of the page. Maybe text accent, or button background accent, et cetera. After all it is just a small part of the larger experiences. What harm could be done?</p>

			<Media float src="/media/ondark-tokens.png" alt="">
				Now with 250% more tokens!
			</Media>

			<p>What should happen if we need to add a text input within these cards? Maybe that input has an error that needs to be displayed? How do you account for these additions?</p>

			<p>If your answer is more tokens, you're going to find that you'll end up trying to have an accent variation of every semantic token you have. You'll have to cover every possibility of each element appearing in this accented area of the page; at least doubling your token set; or in this case <strong>tripling</strong>.</p>
			<p>I don't know about you, but I'm trying to maintain <em>fewer</em> tokens, not more.</p>
			
		</Section>

		<Section slide>
			<Media src="/media/footer.png" alt=""/>
		</Section>

		<Section slide>
			<Media src="/media/ondark.png" alt=""/>
		</Section>

		<Section slide>
			<Media src="/media/remedy.png" alt=""/>
		</Section>

		<Section slide>
			<Callout>
				<s>new tokens</s>
			</Callout>
		</Section>

		<Section>
			<p>What I recommend is to instead consider each card as a separate mini-region which creates a scope of new values. There's a few benefits to this, one of which is <strong>no new tokens</strong>. The button background continues to use the button background token just with a new value applied in the same way that you might apply new values for dark mode.</p>

			<Media src="/media/pricing-tokens.png" alt="">Same tokens, new values</Media>

			<p>In this way, each card is a boundary for new values for the same elements and tokens. It's functionally the same text, button, and links just visually changed by existing within a new scope all co-existing on the same page.</p>

			<p>Keep this idea, put it in your pocket, and let's save it for later.</p>
		</Section>

		<Section>
			<p>That blog post was simply meant as a response to a repeated harmful practice. At the time, my real focus was how we might expand other themable properties into semantic naming. Is semantic naming for border radius possible? Spoiler, <a href="https://blog.damato.design/posts/meaningless-curves/">no it's not</a>, but what about spacing?</p>

			<Callout>
				How might we introduce semantic naming for space?
			</Callout>
		</Section>

		<Section split>

			<Media float src="/media/non-semantic.png" alt=""/>

			<p>Spacing tokens in many design systems are either published as T-shirt sizing or propotional amounts, neither of which are semantic; <strong>the names of these tokens give no indication about where to use them</strong>.</p>
				
			<p>Think about if a person was asked to markup an interface with only a list of token names. It is logical that the semantic token name <code>button-bgcolor</code> is meant to color button backgrounds. While the proportional scale token <code>space-4</code> gives no indication where it should be applied using only the token name.</p>

		</Section>

		<Section>
			<p>It was important to me that whatever the solution of this exploration, that it achieved the same visual results in comparison to existing best practices, with few exceptions if at all. I referred to <a href="https://medium.com/eightshapes-llc/space-in-design-systems-188bcbae0d62">Nathan Curtis's article about space</a> throughout this work as his outlook has been adopted by community several times over.</p>
			
			<p>The result of that research was called <a href="https://complementary.space/">Complementary Space</a>. A technique that suggests we can mark an area with a single token that means “space goes here” and then a designer determines how much space in a new way; using regions.</p>

			<Media src="/media/cards.png" alt="">
				Example from Nathan Curtis's article, “Space in Design Systems” and similar results using Complementary Space.
			</Media>

			<p>Each region determines what the value of space is within. You can create different amounts of space by assigning a different value for the tokens in that region.</p>

			<p>In this way, <strong>we no longer need to have space token naming at all!</strong> If the regions are the scale, and each region goes down one level of space, you can go down multiple levels by continuing to nest regions. Only going in a decreasing direction is appropriate because as we traverse deeper into an interface, there is less room and compositions are naturally more compact.</p>
		</Section>

		<Section slide>
			<Callout>
				Semantic names do not suggest values
			</Callout>
		</Section>

		<Section slide>
			<Media src="/media/complementary.png" alt="" />
		</Section>

		<Section>
			<p>Through these separate units of work I soon realized that both were using the same technique of changing token values depending on a targeted scope. From here, I wanted to understand the fundamental prinicples I was uncovering so that it was clear when tokens were meant to drive design decisions and when scope should be considered instead.</p>

			<Callout>
				What are the shared principles in these approaches?
			</Callout>
		</Section>
		<Section>
			<Media src="/media/wireframe.png" alt=""/>

			<p>This is a low-fidelity wireframe of an interface. You might have a accurate guess of what it might represent. The more important question is <strong>how are you able to guess?</strong> There's no content clearly describing what to do, or branding to identify the product. How can we assume what this is meant for without these markers?</p>

			<p>The answer is Jakob's Law of Familiarity.</p>

		</Section>

		<Section split>
			<Callout float cite caption="Jakob's Law of Familiarity" href="https://www.nngroup.com/videos/jakobs-law-internet-ux/">
				Users prefer experiences that seem familiar.
			</Callout>

			<p>Wireframes represent layout; a blueprint to follow. When we choose elements for a layout, we are (hopefully) adding them with purpose, hierarchy, and user input in mind based on user's expectations learned over a period of time. We are following a blueprint whether we know it or not.</p>
			
			<p>As an example, the layout of a project management tool should both be immediately identifiable and different from the layout of a social media site to be the most successful. Even when the layout does change, in the case of right-to-left languages or responsive reflow, the purpose, hierarchy and methods of user input should persist. Changing any of these creates a new experience, even if slightly.</p>

			<p>In the design system practice, we attempt to identify these user expectations and document them as reusable patterns and best practices. From here, designers can use modes to describe a change that needs to affect the entire page or (more innovately) part of the page: this area needs to be dense, this needs to standout, this needs to show another brand. <strong>A mode is a reusable expression as purposely selected values.</strong> As an example, “high contrast mode” is the collection of values curated together to convey a high contrast between content and surfaces, often meant to increase legibility.</p>
				
			<p>From here, what's stopping us from putting a mode <em>inside</em> a mode?</p>
		</Section>

		<Section slide>
			<Media src="/media/wireframe-rtl.png" alt=""/>
		</Section>

		<Section slide>
			<Media src="/media/jira.png" alt=""/>
		</Section>

		<Section slide>
			<Media src="/media/config.mp4" alt="">
				Dylan Field demonstrating dynamic modes at Config 2023
			</Media>
		</Section>
		
		<Section>

			<Media src="/media/xzibit.png" alt=""/>

			<p>That's why I've have called this technique <strong>mise en mode</strong>, meaning “placement in mode”. It is a play on the art history term <a href="https://en.wikipedia.org/wiki/Mise_en_abyme">mise en abyme</a>, which is the act of creating smaller artwork within a larger composition. In this idea, an experience is designed as a nested collection of modes, each with a specific purpose for being there by design. Each mode provides new values to existing tokens for a shared purpose. This means that some semantics are moved from the tokens, to these new rectangular boundaries of the interface. Tokens are now simplified to naming elements and properties.</p>

			<p>For the folks familiar with React, this is the difference between prop drilling to every component and instead reading from some <code>useContext()</code> provider higher in the tree.</p>
		</Section>

		<Section slide>
			<Callout caption="“placement in mode”">mise en mode</Callout>
		</Section>

		<Section slide>
			<Media float src="/media/mise-en-abyme.png" alt="">
				Coat of arms of the United Kingdom, 1816—1837
			</Media>
		</Section>

		<Section slide>
			<Media src="/media/progressive-enhancement.png" alt="">
				Functionally identical with “expressive enhancement”
			</Media>
		</Section>

		<Section slide>
			<Media src="/media/no-signal.png" alt=""/>
		</Section>

		<Section slide>
			<Media src="/media/not-found.png" alt=""/>
		</Section>

		<Section slide>
			<Media src="/media/adobe-graph.png" alt=""/>
		</Section>

		<Section split>
			<Callout float>There is no critical button,<br> only a button in a critical mode.</Callout>

			<p>Taking this a step further, and maybe too far for some but, perhaps there is no critical button, only a button that exists within a critical mode.</p>

			<p>The content of a double confirm modal is meant to display as wholly dangerous. The messaging, icons, and other design choices can be affected along with the button. Therefore we could treat the entire region as critical and adjust the appearance through the scoping the token values to this boundary.</p>
		</Section>

		<Section slide>
			<Media src="/media/destructive.png" alt="">
				Atlassian Design, Danger Modal
			</Media>
		</Section>

		<Section>

			<Media src="/media/github-danger.png" alt="">
				A critical “mode” within the larger page at Github.com
			</Media>

			<p>In the above example, Github profiles have a Danger Zone. While this area could have been given the same treatment as the rest of the page, the designers felt it would have more impact to convey a sense of danger. This could be done by curating a different expression through use of new color values for the properties of elements within this area. You can notice the rest of the style is otherwise identical to the larger experience. This means you can change just the values you need while defaults can support the rest. When new expressions aren't dependent on new tokens, flexibility makes this a powerful design paradigm.</p>

		</Section>

		<Section slide>
			<Media src="/media/branded.png" alt=""/>
		</Section>

		<Section slide>
			<Media src="/media/purple.png" alt="">So beauty, much mode</Media>
		</Section>

		<Section split>

			<p><a href="https://twitter.com/mikemai2awesome/status/1701691579931435091">Mike Mai's asks an interesting question about modes</a>, and based on my exploration I can answer with confidence: <em>I don't know</em>.</p>

			<Media float src="/media/which-mode.png" alt=""/>
				
			<p>What is the purpose of this treatment? Is it meant to help with reading, improve battery performance, portray a brand identity, or another user need entirely? What message is this mode meant to convey?</p>
			
			<p>Asking “why?” about new designs often starts conflict because it puts designers on defense and often why designers go rogue. It's hard to articulate our needs and is just easier to avoid conflict.</p>

			<p>So here's one weird trick for designers to get the look they want using mise en mode; <strong>name the mode just like you would a component</strong>. Consider that other people might want to use this expression for the same reason you need it. So, give it a name that has shared meaning.</p>

			<p>In the same way we create components to perform a function, we can create modes to express a form.</p>

		</Section>

		<Section slide>
			<Media src="/media/jeopardy.png" alt=""/>
		</Section>

		<Section slide>
			<Callout>
				form follows function
			</Callout>
		</Section>

		<Section slide>
			<Media src="/media/multi-card.png" alt=""/>
		</Section>

		<Section slide>
			<Callout><span style="font-size: 3em">🤝</span></Callout>
		</Section>

		<Section>
			<p>I believe mise en mode is a powerful approach to support creativity and expression while maintaining a system to user experience design. Rounded corners, purple gradients, and flourished typography can all be applied as a mode to an underlying familiar structure. A functional layout of rectangles provide the guardrails of user expectation, while tokens provide a style-by-name interface to convey a form of expression within. <strong>Mise en mode is the practical application of form following function.</strong> So maybe to some, they're just rectangles on the internet, or maybe...</p>

			<Media src="/media/purpose.png" alt="they're rectangles burdened with glorious purpose"/>
		</Section>

		<Section slide>
			<Callout caption="mode.place">
				Thank you
			</Callout>
		</Section>
	</Main>
</Layout>

<script>
	const observer = new IntersectionObserver((entries) => {
		entries.forEach(({ isIntersecting, target }) => {
			if (isIntersecting) {
			target.setAttribute('aria-current', 'step');
			} else {
			target.removeAttribute('aria-current');
			}
		})
	}, { threshold: .5 });

	function observe(toggle) {
		[...document.querySelectorAll('section')].forEach(($slide) => {
			toggle ? observer.observe($slide) : observer.unobserve($slide)
		});
	}

	const mql = window.matchMedia("(display-mode: browser)");
	mql.onchange = ({ matches }) => observe(!matches);
</script>
