---
import Layout from '@layouts/Layout.astro';
import logo from '@components/Logo.svg?raw'
---

<style>
	main {
		color: hotpink;
		filter: drop-shadow(4px 4px 0 black);
	}
</style>

<Layout title="Mise en mode" description="">
	<main>
		<Fragment set:html={logo} />
	</main>
</Layout>
