<style>
  .lockup {
    font-size: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  img {
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    aspect-ratio: 1;
    display: block;
    max-width: calc(var(--unit) * 4);
    box-shadow: .04em .04em var(--accent-shadow);
  }

  h2 {
    margin: 0;
    line-height: 1.1;
    font-family: var(--callout-font);
    font-size: 3rem;
  }
</style>

<div class="lockup">
  <img src="media/donnie.png" />
  <div class="content">
    <h2>Donnie <br>D<span style="letter-spacing: -.22em;">’</span>Amato</h2>
    <a href="https://donnie.damato.design">donnie.damato.design</a>
    <p>Founder, Chief Architect <br> Design Systems House (ds.house)</p>
  </div>
</div>