---
const { cite, float } = Astro.props;
---
<style>
  blockquote {
    margin-block: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: min(5.5rem, 4.5vw + 1.5rem);
    font-weight: 600;
    font-family: 'Gloock', serif;
    line-height: calc(var(--unit) * 2);
    text-align: center;
    padding-block: calc(var(--unit) * 2);
    background: white;
  }

  blockquote[data-float] {
    padding: calc(var(--unit) * 2);
    float: left;
    text-align: right;
    max-width: calc(var(--unit) * 14);
    margin-inline-start: calc(var(--unit) * -8);
  }
  
  blockquote div {
    text-shadow: .04em .04em #ffb53d;
  }

  cite {
    font-size: 1.5rem;
    line-height: 1.2;
    border-radius: 12px;
    background: #ffb53b;
    color: #3c2b0f;
    padding: 0.75em;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    font-weight: 500;
    margin-inline-start: calc(var(--unit) * 2);
    margin-inline-end: 24px;
    align-self: end;
  }

  @media  (display-mode: browser) and (max-width: 144vh) {
		blockquote[data-float] {
      float: initial;
      margin: 0;
      max-width: none;
      text-align: center;
      padding-inline: 0;
    }
	}

  @media not (display-mode: browser) {
    blockquote[data-float] {
      float: initial;
      text-align: center;
      margin: 0;
      max-width: none;
    }
  }
</style>

<blockquote data-float={ Boolean(float) }>
  <div>
    <slot/>
  </div>
  { cite && <cite>{ cite }</cite> }
</blockquote>