---
import logo from '@components/Logo.svg?raw';
---

<style>
  section {
    --bg-offset: 25%;    
    background: white;
    margin-block-start: calc(var(--unit) * 2);
    padding: calc(var(--unit) * 2);
    max-width: calc(var(--unit) * 24);
    margin-inline: auto;

    background: linear-gradient(-.25turn, transparent var(--bg-offset), white var(--bg-offset) 100%);
    padding-inline-end: calc(var(--unit) * 8);
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  div {
    width: calc(var(--unit) * 6);
    aspect-ratio: 1;
  }

  @media not (display-mode: browser) {
    section {
      padding:  calc(var(--unit) * 2);
      scroll-snap-align: start;
      scroll-margin-block-start: calc(var(--unit) * 2);
      max-height: calc(var(--unit) * 14);
      height: 100%;
      background: white;
    }
  }
</style>

<section>
  <div>
    <Fragment set:html={logo} />
  </div>
</section>