---
import Section from '@components/Section.astro';
import Logo from '@components/Logo.astro';
---

<style>

  main {
		margin-inline: auto;
	}

	div {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.lockup {
		min-height: calc(var(--unit) * 2);
		justify-content: center;
	}

	small {
		font-size: .6em;
	}

  @media not (display-mode: browser) {
		main {
			overflow-y: scroll;
			scroll-behavior: smooth;
			scroll-snap-type: y mandatory;
			height: 100dvh;
		}

		.lockup {
			display: none;
		}
	}
</style>

<main>
	<div style="min-height: calc(var(--unit) * 2)"></div>
  <Section flip split>
    <div>
			<Logo/>
			<div class="lockup">
				<small>(Fr. pronunciation: [miz ɑ̃n‿mɔd])</small>
				<span>“placement in mode”</span>
			</div>
		</div>
  </Section>
  <slot/>
	<div style="min-height: calc(var(--unit) * 2)"></div>
</main>