---
const { split, flip } = Astro.props;
---

<style>
  section {
    --bg-offset: 25%; 
    --bg-turn: .25turn;   
    background: white;
    padding: calc(var(--unit) * 2);
    max-width: calc(var(--unit) * 24);
    margin-inline: auto;
  }

  section[data-split] {
    background: linear-gradient(var(--bg-turn), transparent var(--bg-offset), white var(--bg-offset) 100%);
    padding-inline-start: calc(var(--unit) * 8);
    padding-inline-end: calc(var(--unit) * 2);
  }

  section[data-flip] {
    --bg-turn: -.25turn;
    --bg-offset: 50%; 
    padding-inline-start: calc(var(--unit) * 2);
    padding-inline-end: calc(var(--unit) * 14);
  }

  section div {
    width: 100%;
  }

  section:not([data-split]) div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: calc(var(--unit) * 2);
    height: 100%;
  }

  @media  (display-mode: browser) and (max-width: 144vh) {
		section[data-split] {
      background: white;
      padding-inline: calc(var(--unit) * 2);
    }
	}

  @media not (display-mode: browser) {
    section {
      font-size: 0;
      margin-block-start:  calc(var(--unit) * 2);
      scroll-snap-align: start;
      scroll-margin-block-start: calc(var(--unit) * 2);
      max-height: calc(var(--unit) * 14);
      height: 100%;
      cursor: none;
    }

    section:last-of-type {
      margin-block-end:  calc(var(--unit) * 2);
    }

    section:not(:has(figure, blockquote)) {
      display: none;
    }

    section[data-split]:has(blockquote, svg) {
      padding: 0;
      background: white;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
</style>

<section data-split={ Boolean(split) } data-flip={ Boolean(flip) }>
  <div>
    <slot/>
  </div>
</section>