---
const { split } = Astro.props;
---

<style>
  section {
    --bg-offset: 25%;    
    background: white;
    padding: calc(var(--unit) * 2);
    max-width: calc(var(--unit) * 24);
    margin-inline: auto;
  }

  section[data-split] {
    background: linear-gradient(.25turn, transparent var(--bg-offset), white var(--bg-offset) 100%);
    padding-inline-start: calc(var(--unit) * 8);
  }

  section:not([data-split]) div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: calc(var(--unit) * 2);
    height: 100%;
  }

  @media not (display-mode: browser) {
    section {
      font-size: 0;
      margin-block-start:  calc(var(--unit) * 2);
      scroll-snap-align: start;
      scroll-margin-block-start: calc(var(--unit) * 2);
      max-height: calc(var(--unit) * 14);
      height: 100%;
    }

    section:last-of-type {
      margin-block-end:  calc(var(--unit) * 2);
    }

    section:not(:has(figure, blockquote)) {
      display: none;
    }

    section[data-split]:has(blockquote) {
      background: white;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
</style>

<section data-split={ Boolean(split) }>
  <div>
    <slot/>
  </div>
</section>