---
const { split, flip, slide } = Astro.props;
---

<style>
  section {
    --bg-offset: 25%; 
    --bg-turn: .25turn;   
    background: var(--bg-color);
    padding-inline: calc(var(--unit) * 2);
    padding-block: calc(var(--unit) * 2);
    max-width: calc(var(--unit) * 24);
    margin-inline: auto;
    clear: both;
    display: flow-root;
  }

  section div {
    width: 100%;
    max-width: 70ch;
  }

  section :global(p:first-of-type) {
    margin-block-start: 0;
  }

  section :global(p:last-of-type) {
    margin-block-end: 0;
  }

  section:not([data-split]) div {
    height: 100%;
    margin: 0 auto;
  }

  @media (display-mode: browser) {
    section[data-slide] {
      display: none;
    }

    section[data-split] {
      background: linear-gradient(var(--bg-turn), transparent var(--bg-offset), var(--bg-color) var(--bg-offset) 100%);
      padding-inline-start: calc(var(--unit) * 8);
      padding-inline-end: calc(var(--unit) * 2);
    }

    section[data-flip] {
      --bg-turn: -.25turn;
      --bg-offset: 50%; 
      padding-inline-start: calc(var(--unit) * 2);
      padding-inline-end: calc(var(--unit) * 14);
    }
  }

  @media  (display-mode: browser) and (max-width: 144vh) {
		section[data-split] {
      padding-inline: calc(var(--unit) * 2);
      background: var(--bg-color);
    }
	}

  @media not (display-mode: browser) {
    section {
      font-size: 0;
      margin-block-start: calc(var(--unit) * 2);
      scroll-snap-align: start;
      scroll-margin-block-start: calc(var(--unit) * 2);
      height: calc( 100% - (var(--unit) * 2));
      cursor: none;
    }

    section:last-of-type {
      margin-block-end:  calc(var(--unit) * 2);
    }

    section div {
      max-width: none;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
    }

    section:not(:has(img, video, blockquote, svg), [data-slide]) {
      display: none;
    }

    section[data-split]:has(blockquote, svg) {
      padding: 0;
      background: var(--bg-color);
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
</style>

<section
  data-split={ Boolean(split) }
  data-flip={ Boolean(flip) }
  data-slide={ Boolean(slide) }>
  <div>
    <slot/>
  </div>
</section>