* {
  box-sizing: border-box;
}

:root {
  --unit: calc(2vmin + 2rem);
}


body {
  margin: 0;
  background-color: #c58621;
  font-size: 1.5rem;
  line-height: 1.5;
  font-family: 'Red Hat Display', sans-serif;
  background-image: url('/colored-geometric.jpg');
  background-size: calc(var(--unit) * 12);
  background-position: top center;
  background-attachment: fixed;
  color: #3c2b0f;
  font-weight: 300;
}