---
import Head from '@components/Head.astro';
const { file } = Astro.props;
const clean = file && file.endsWith('md');
---

<!doctype html>
<html lang="en">
	<Head { ...Astro.props }/>
	<body data-clean={ clean }>
		<slot/>
		<script async defer src="https://scripts.withcabin.com/hello.js"></script>
	</body>
</html>
